NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3002
APP_LOGIN_USERNAME=harsgestion
APP_LOGIN_PASSWORD=2045
APP_LOGIN_SECRET=cambia-esto-por-un-secreto-largo
